# Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# Kotlin
.kotlin/

# Native build
.externalNativeBuild/
.cxx/

# APK / AAB
*.apk
*.aab

# Signing
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db

# Dataset
ml/dataset/
